# Environment
.env
secret/
secrets/

# Google Service Account key files
*.json
!requirements*.json

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

